<ion-content [fullscreen]="true">
    <div id="container">
      <ion-grid>
        <ion-row>
          <ion-col offset-lg="4" size-lg="4" size-md="12" size-xs="12">
            <div padding>
              <ion-card>
                <ion-card-header>
                  <ion-card-title>¿Olvidaste tu contraseña?</ion-card-title>
                  <ion-card-subtitle>&nbsp;</ion-card-subtitle>
                </ion-card-header>
  
                <ion-card-content>
                  <ion-grid>
                    <ion-row color="primary">
                      <ion-col size-lg="12" size-md="12" size-xs="12">
                        <div padding>
                          <form [formGroup]="_formForgot">
                          <ion-item>
                            <fa-icon icon="list"></fa-icon>&nbsp;
                            <ion-select [(ngModel)]="_tipoDocumento" name="_tipoDocumento"formControlName="_tipoDocumento"  placeholder="Tipo de Documento" style="max-width: 100%;    width: 100%;">
                              <ion-select-option *ngFor="let item of _lstTipoDocumento" [value]="item.IdTipoDocumento">
                                {{item.Nombre}}
                              </ion-select-option>
                            </ion-select>
                          </ion-item>
                          <br>
                          <ion-item>
                            <fa-icon icon="id-card"></fa-icon>&nbsp;
                            <ion-input  [(ngModel)]="_usuario.NumeroDocumento" formControlName="_numeroDocumento"  name="_numeroDocumento" type="text" placeholder="Numero de Documento"></ion-input>
                          </ion-item>
                          <br>
                          </form>
                        </div>
                        <br>
                        <div padding>
                          <ion-button size="large" expand="block" (click)="sendRecoveryPassword()" color="danger">Recuperar</ion-button>
                        </div>
                        <br>
                        <div>
                          <a id="back-to-home" routerLink='/home' style="font-weight: bold;color: #bfa9a9;">
                            Volver al Inicio de sesion
                          </a>
                        </div>
                      </ion-col>
                    </ion-row>
                    <br>
                  </ion-grid>
                </ion-card-content>
              </ion-card>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>