<ion-content [fullscreen]="false">
  <div id="container">

    <ion-grid>
      <ion-row>
        <ion-col offset-lg="4" size-lg="4" size-md="12" size-xs="12">
          <div padding>

            <ion-card>
              <ion-card-header>
                <ion-card-title>Registro</ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col size-lg="12" size-md="12" size-xs="12">
                      <form [formGroup]="_formRegister">
                      <ion-item>
                        <fa-icon icon="list"></fa-icon>&nbsp;
                        <ion-select [(ngModel)]="_tipoDocumento" name="_tipoDocumento"formControlName="_tipoDocumento" (ionChange)="getTipoDoc($event)" placeholder="Tipo de Documento" style="max-width: 100%;    width: 100%;">
                          <ion-select-option *ngFor="let item of _lstTipoDocumento" [value]="item.IdTipoDocumento">
                            {{item.Nombre}}
                          </ion-select-option>
                        </ion-select> 
                      </ion-item>
                      <ion-item>
                        <fa-icon icon="id-card"></fa-icon>&nbsp;
                        <ion-input [(ngModel)]="_usuario.NumeroDocumento" name="_numeroDocumento" formControlName="_numeroDocumento"  type="text" placeholder="Numero de Documento"></ion-input>
                      </ion-item>
                      <ion-item>
                        <fa-icon icon="user"></fa-icon>&nbsp;
                        <ion-input [(ngModel)]="_usuario.Nombres"  name="_nombres" formControlName="_nombres" type="text" placeholder="Nombre(s)"></ion-input>
                      </ion-item>
                      <ion-item>
                        <fa-icon icon="user"></fa-icon>&nbsp;
                        <ion-input [(ngModel)]="_usuario.PrimerApellido" name="_papellido" formControlName="_papellido" type="text" placeholder="Primer Apellido"></ion-input>
                      </ion-item>
                      <ion-item>
                        <fa-icon icon="user"></fa-icon>&nbsp;
                        <ion-input [(ngModel)]="_usuario.SegundoApellido"  name="_sapellido" formControlName="_sapellido"  type="text" placeholder="Segundo Apellido"></ion-input>
                      </ion-item>
                      <ion-item>
                        <fa-icon icon="medkit"></fa-icon>&nbsp;
                        <ion-select [(ngModel)]="_tipoSangre" (ionChange)="getTipoSan($event)" placeholder="Tipo de Sangre" name="_tipoSangre" formControlName="_tipoSangre" style="max-width: 100%;    width: 100%;">
                          <ion-select-option *ngFor="let item of _lstTipoSangre" [value]="item.IdTipoSangre">
                            {{item.Nombre}}
                          </ion-select-option>
                        </ion-select>
                      </ion-item>
                      <ion-item>
                        <fa-icon icon="envelope"></fa-icon>&nbsp;
                        <ion-input [(ngModel)]="_usuario.CorreoElectronico"  name="_email" formControlName="_email" type="email" placeholder="Correo Electronico"></ion-input>
                      </ion-item>

                      <ion-item>
                        <fa-icon icon="lock"></fa-icon>&nbsp;
                        <ion-input [(ngModel)]="_usuario.HashContrasena"  name="_password" formControlName="_password" type="password" placeholder="Contraseña"></ion-input>
                      </ion-item>
                      <br>
                      <ion-button size="large" expand="block" (click)="createUsuario()" color="danger" >Registrarse</ion-button>
                      </form>
                    </ion-col>
                  </ion-row>
                  <br>
                  <ion-row>
                    <div class="aling-center-div">
                      <a id="back-to-home" routerLink='/home' style="font-weight: bold;color: #bfa9a9;">
                        Volver al Inicio de sesion
                      </a>
                    </div>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>