<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: right;">
       Mi Perfil
   </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom"  color="danger">

      <ion-tab-button tab='misdatos'>
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Mis Datos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="contrasena">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-label>Contraseña</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>