<ion-content [fullscreen]="false">

  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col offset-lg="4" size-lg="4" size-md="12" size-xs="12">
          <div padding>
            <ion-card>
              <ion-card-header>
                <ion-card-title><img src="assets/img/logo.png" style="width: 75%;"></ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <b>Login</b>
                    </ion-col>
                  </ion-row>
                  <ion-row color="primary">
                    <ion-col size-lg="12" size-md="12" size-xs="12">
                      <div padding>
                        <form [formGroup]="_formlogin">
                        <ion-item>
                          <fa-icon icon="list"></fa-icon>&nbsp;
                          <ion-select [(ngModel)]="_tipoDocumento" name="_tipoDocumento"formControlName="_tipoDocumento" placeholder="Tipo de Documento" style="max-width: 100%;    width: 100%;">
                            <ion-select-option *ngFor="let item of _lstTipoDocumento" [value]="item.IdTipoDocumento">
                              {{item.Nombre}}
                            </ion-select-option>
                          </ion-select>
                        </ion-item>
                        <br>

                        <ion-item>
                          <fa-icon icon="id-card"></fa-icon>&nbsp;
                          <ion-input formControlName="_numeroDocumento" [(ngModel)]="_usuario.NumeroDocumento" name="_numeroDocumento" type="text" placeholder="Numero de Documento"></ion-input>
                        </ion-item>
                        <br>
                        <div>
                          <a id="forgot-password" routerLink='/forgot'  style="font-weight: bold;color: #bfa9a9;">
                            ¿Olvidaste tu contraseña?
                          </a>
                        </div>
                        <ion-item>
                          <fa-icon icon="lock"></fa-icon>&nbsp;
                          <ion-input formControlName="_password" [(ngModel)]="_usuario.HashContrasena"  name="_password" type="password" placeholder="Contraseña"  required></ion-input>
                        </ion-item>
                        <br>
                        <ion-button size="large" expand="block" (click)="singUp()" color="danger">Ingresar</ion-button>
                     </form>
                      </div> 
                    </ion-col>
                  </ion-row>
                  <br>
                  <ion-row>
                    <div class="aling-center-div">

                      <a routerLink='/registro' style="font-weight: bold;color: #bfa9a9;">
                        ¿Aun no estas registrado?. ¡Registrate!
                      </a>
                    </div>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

</ion-content>