<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: right;">
    Solicitar Recolección
   </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top"  color="danger">

      <ion-tab-button tab='historialsolicitud'>
        <ion-icon name="list-outline"></ion-icon>
        <ion-label>Tus Solicitudes</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="crearsolicitud">
        <ion-icon name="add-outline"></ion-icon>
        <ion-label>Crear Solicitud</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>
