<ion-content [fullscreen]="true">
    <div id="container">
        <ion-grid>
            <ion-row>
                <ion-col offset-lg="4" size-lg="4" size-md="12" size-xs="12">
                    <div padding>
                        <ion-card>
                            <ion-card-header>
                                <ion-card-title>Restaurar Contraseña</ion-card-title>
                                <ion-card-subtitle>&nbsp;</ion-card-subtitle>
                            </ion-card-header>

                            <ion-card-content>
                                <ion-grid>
                                    <ion-row color="primary">
                                        <ion-col size-lg="12" size-md="12" size-xs="12">
                                            <div padding>
                                                <form [formGroup]="_formReset">
                                                <ion-item>
                                                    <fa-icon icon="lock"></fa-icon>&nbsp;
                                                    <ion-input [(ngModel)]="_password" name="_password"formControlName="_password" type="password"
                                                        placeholder="Nueva Contraseña"></ion-input>
                                                </ion-item>
                                                </form>
                                                <br>
                                            </div>
                                            <br>
                                            <div padding>
                                                <ion-button size="large" expand="block" (click)="resetPassword()" color="danger">Listo</ion-button>
                                            </div>
                                            <br>
                                            <div>
                                                <a id="back-to-home" routerLink='/home' style="font-weight: bold;color: #bfa9a9;">
                                                    Volver al Inicio de sesion
                                                </a>
                                            </div>
                                        </ion-col>
                                    </ion-row>
                                    <br>
                                </ion-grid>
                            </ion-card-content>
                        </ion-card>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>